/* ### Primary
- Red: hsl(0, 100%, 74%) 
- Green: hsl(154, 59%, 51%)

### Accent
- Blue: hsl(248, 32%, 49%)

### Neutral
- Dark Blue: hsl(249, 10%, 26%) 
- Grayish Blue: hsl(246, 25%, 77%)

### Font
- Weights: 400, 500, 600, 700 */

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: hsl(0, 100%, 74%);
    background-image: url(./images/bg-intro-mobile.png);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    /* width: 90%; */
}

.header {
    color: white;
    text-align: center;
    margin-top: 4rem;
}

.header h1 {
    font-size: 1.8em;
}

.header p {
    text-align: center;
    font-size: 1.05rem;
    margin-bottom: 3rem;
}

.trial-box {
    color: white;
    border-radius: .6rem;
    background-color: hsl(248, 32%, 49%);
    text-align: center;
    padding: 1.5rem;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    font-weight: 500;
    box-shadow: 0px 7px 0px 0px rgb(218, 102, 103);
}

.card {
    background-color: white;
    border-radius: .6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    box-shadow: 0px 10px 0px 0px rgb(218, 102, 103);
}

form {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

input {
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    border-radius: 0.4rem;
    margin: 1rem;
    margin-bottom: 0px;
}

.input_field {
    width: 100%;
    border: 0.5px solid hsl(246, 25%, 77%);
}

.input_field:focus, .input_field:active {
    outline: none;
    border-color: hsl(248, 32%, 49%);
}

/* R: 116 G: 224 B: 181 */

.button {
    color: white;
    width: 106%;
    background-color: hsl(154, 59%, 51%);
    border: 0.5px solid hsl(154, 59%, 51%);
    box-shadow: 0px 3px 0px 0px rgb(55, 182, 128)
}

.button:active, .button:focus {
    /* R: 116 G: 224 B: 181 */
    background-color: rgb(116, 224, 181);
    outline: none
}

.text-muted {
    text-align: center;
    width: 75%;
    font-size: 11px;
    color: hsl(246, 25%, 77%);
    margin-bottom: 1.5rem;
}

.text-muted a {
    color: hsl(0, 100%, 74%);
    text-decoration: none;
    font-weight: 500;
}

label {
    width: 100%;
    text-align: right;
    padding-left: 1em;
    color: hsl(0, 100%, 74%);
    font-size: .6em;
    padding-top: .4rem;
}

.error-border {
    border-color: hsl(0, 100%, 74%);
}

.hidden {
    display: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 5rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}